/***
  Registration styling
*/

/**Colors for the registration page*/
$fb_color: rgb(59,89,152);
$google_color: rgb(241,47,28);
$twitter_color:  rgb(85,172,238);
$yahoo_color: rgb(80,0,146);


/*padding values for even spacing**/
$buttons_space: 5%;

/** font value */



/**To-do*/
$weibo_color:  rgb(255,0,0);

