/*
* Temporary styling
**/




.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
    font-size:1.5em;
}
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

.header {
    padding-top: 1.5%;
}

.expand-menu {
    margin-left: 2%;
    width:20%;
}


/**
* styling for the user options
*/
.right-menu {
    float: right;
    width:75%;
    padding-right: 5%;
}
.registration, .log-in {
    display: inline-block
}

.user-registration {

}

.main, .main-content {
    width:100%;
    height:100%;
}

.grid-item-link {
    width: 33.33%;

}


.main-archive .grid-item-link {

    padding:2px;
}


#post-island-hopping{
    background-image: url("/static/pictures/island_hopping.jpg");
    height:50%;
    width:66.67%;
}

#post-blue-sea {
    background-image: url("/static/pictures/blue_sea.jpg");
    height:50%;
    width:33%;
    /**float:left;**/
    /**height:20%;
    width:33.33%; **/
}

#post-fields {
    background-image: url("/static/pictures/fields.jpg");
    height:50%;
    width:33%;
    /**
    height:20%;
    width:33.33%;
    **/

}
#post-mornings-mountains {
    background-image: url("/static/pictures/mornings_mountains.jpg");
    height:50%;
    width:33%;
    /**
    height:20%;
    width:33.33%;
    **/
}


#post-mountains {
    background-image: url("/static/pictures/mountains.jpg");
    height:50%;
    width:33%;
}
#post-rizal-blvd {
    background-image: url("/static/pictures/rizal_blvd.jpg");
    height:50%;
    width:33%;
}
#post-rizal-park {
    background-image: url("/static/pictures/rizal_park.jpg");
    height:50%;
    width:33%;
}

#post-sea-sky {
    background-image: url("/static/pictures/sea_sky.jpg");
    height:50%;
    width:33%;

}

#post-sky-mountains {
    background-image: url("/static/pictures/sky_mountains.jpg");
    height:50%;
    width:33%;
}

#post-sky-sea {
    background-image: url("/static/pictures/sky_sea.jpg");
    height:50%;
    width:66.67%;

}


.grid-item-1 {
    width: 100%;
    background-size: cover;
    background-position: center center;

}

.grid-item-r{
    width:100%;
    background-size: cover;
    background-position: center center;

}

.grid-item {
    width:100%;
    background-size: cover;
    background-position: center center;
}

.main-content .grid-item-link {
    width:66.67%;
    padding:2px;
}


.main-content .grid-item-link-1 {
    width: 66.67%;
}

#content {
    height:100%;
    margin:3px;
}