/*
* Temporary fix for the sign-up and log-in page. Deprecated log-in html
**/


.modal-content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
}

.oauth-buttons {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.button, .oauth-button{
    min-height: 20%;
    min-width: 35%;
    margin-left: 35%;
    margin-bottom: 5%
}

.button-text {
    color:white;
    font-size: 1.0em;
    font-family: Lato;
    text-transform: none;
}


#facebook-oauth-button-login-modal {
    background-color: rgb(59,89,152);
}

#facebook-oauth-button-login-modal:hover{
    background-color: rgba(59,89,152, .80);
}

#google-oauth-button-login-modal {
    background-color: rgb(241,47,28);
}

#google-oauth-button-login-modal:hover {
    background-color: rgba(241,47,28,.80);
}

#yahoo-oauth-button-login-modal {
    background-color:rgb(80,0,146);
}

#yahoo-oauth-button-login-modal:hover {
    background-color:rgba(80,0,146, .70);
}

#weibo-oauth-button-login-modal {
    background-color: rgb(255,0,0);
}

#weibo-oauth-button-login-modal:hover {
    background-color: rgba(255,0,0, .70);
}

#twitter-oauth-button-login-modal {
    background-color: rgb(85,172,238);
}

#twitter-oauth-button-login-modal {
    background-color: rgba(85,172,238, .60);
}

.oauth-buttons .row {
    padding: 3%;
}

.modal-header{
    font-family:Lato;

}

